#openlayersgeosearchresults .ui-tabs-nav .ui-tabs-selected a {
  font-weight: bolder;
  color: #000000;
  background-color: transparent;
}

#openlayersgeosearchresults .ui-tabs-nav a {
  color: #666666;
  background-color: transparent;
}

#openlayersgeosearchresults .ui-tabs-nav a:hover {
  color: #000000;
}

#openlayersgeosearchresults .ui-tabs-nav .ui-tabs-selected ul {
  background-color: #8888FF;
}

#openlayersgeosearchresults .ui-tabs-nav ul {
  clear: both;
  padding: 0px;
  float: left;
  background-image: none;
  list-style-image: none;
  list-style-type: none;
}

#openlayersgeosearchresults .ui-tabs-nav li:hover {
 /* padding: 0px 10px;*/
  float: left;
  border: 1px #AAAAAA solid;
  background-image: none;
  list-style-image: none;
  list-style-type: none;
}

#openlayersgeosearchresults .ui-tabs-nav .ui-tabs-panel {
  float: left;
  clear: both;
}

#openlayersgeosearchresults .ui-tabs-nav .ui-tabs-hide {
  display: none;
}
/*
* This highlights the searchresult in the table
*/
#openlayersgeosearchresults .openlayers-geosearch-selected {
 color: red;
}
